<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="mx-auto col-12">
      <div class="row d-flex align-items-center">
        <h4 class="text-center col-2 mt-4 mb-5 offset-1 page-title font-weight-bold">商品一覧</h4>
        <div class="col"><%= link_to "", new_admin_item_path, class: 'fas fa-plus-circle fa-3x offset-9' %></div>
      </div>
      <div class="col-11 mx-auto">
        <table class="table table-hover table-inverse">
          <thead class="thead-light">
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
            <% if item.is_active == '販売中'
                css_class = "text-success"
               else
                css_class = "text-muted"
               end
            %>
            <tr>
              <td style="width:10%"><%= item.id %></td>
              <td style="width:30%"><u><%= link_to item.name, admin_item_path(item.id), class: 'text-dark' %></u></td>
              <td style="width:15%"><%= item.price %></td>
              <td style="width:30%"><%= item.genre.name %></td>
              <td class="<%= css_class %>", style="width:15%"><%= item.is_active %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= paginate @items, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>