<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="mx-auto col-11">
      <h4 class="text-center bg-light col-3 mt-4 mb-5">会員一覧</h4>
      <div class="col-10">
        <table class="table table-hover table-inverse">
          <thead class="thead-light">
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @search_customers.each do |customer| %>
            <% if customer.is_deleted == '有効'
                css_class = "text-success"
               else
                css_class = "text-muted"
               end
            %>
            <tr>
              <td><%= customer.id %></td>
              <td><u><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id), class: 'text-dark' %></u></td>
              <td><%= customer.email %></td>
              <td class="<%= css_class %>"><%= customer.is_deleted %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= paginate @search_customers, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>