<div class="container">
  <div class="row">
    <div class="mx-auto col-12">
      <h4 class="col-lg-3 mt-5 ml-3 text-center page-title">注文情報確認</h4>
      <div class="row mt-3">
        <table class="col-lg-7 table table-bordered confirm-table">
          <thead clss="table-secondary">
            <tr>
              <th class="table-active", style="width:40%">商品名</th>
              <th class="table-active", style="width:24%">単価（税込）</th>
              <th class="table-active", style="width:18%">数量</th>
              <th class="table-active", style="width:18%">小計</th>
            </tr>
          </thead>
          <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= attachment_image_tag cart_item.item, :image, :fill, 50, 50, fallback: "no_image.jpg", size:'50x50' %>
                  <span class="ml-3 font-weight-bold"><%= cart_item.item.name %></span>
              </td>
              <td><%= cart_item.tax_price %></td>
              <td><%= cart_item.amount %></td>
              <td><%= cart_item.total_price %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <table class="col-lg-4 offset-1 table table-bordered confirm-table">
          <tbody>
            <tr>
              <td class="table-active font-weight-bold">送料</td>
              <td><%= @order.postage %></td>
            </tr>
            <tr>
              <td class="table-active font-weight-bold">商品合計</td>
              <td><%= @customer.check_price %></td>
            </tr>
            <tr>
              <td class="table-active font-weight-bold">請求金額</td>
              <td><%= (@order.postage + @customer.for_total_price).to_s(:delimited, delimiter: ',') %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <h5 class="font-weight-bold">支払方法</h5>
        <p class="ml-3"><%= @order.payment_method %></p>
      </div>
      <div class="row">
        <h5 class="font-weight-bold">お届け先</h5>
        <p class="ml-3">
          <span>〒</span><%= session[:delivery_postal_code] %> <%= session[:delivery_address] %></br>
          <%= session[:delivery_name] %>
        </p>
      </div>

      <div class="col-lg-3 mx-auto">
        <%= link_to '注文を確定する', orders_path, method: :post, class: 'btn btn-success' %>
      </div>

    </div>
  </div>
</div>



